<mat-card>
  @if (lesson(); as lesson) {
    <mat-card-header>
      <mat-card-title>{{ lesson.title }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div id="{{EDITOR_CONTAINER_ID}}"></div>
    </mat-card-content>

    <mat-card-actions>
      @if (!lesson.completed) {
        <button mat-raised-button color="primary" (click)="markAsCompleted()">
          Mark as Completed
        </button>
      }
    </mat-card-actions>
  } @else {
    <mat-card-content>
      <p>Select a lesson to view its content.</p>
    </mat-card-content>
  }
</mat-card>
